In [8]:
import pandas as pd

In [4]:
pd.__version__

'2.2.3'

In [29]:
dtype_mapping = {
    "VendorID": "Int64",
    "lpep_pickup_datetime": "str",
    "lpep_dropoff_datetime": "str",
    "store_and_fwd_flag": "str",
    "RatecodeID": "Int64",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float",
    "fare_amount": "float",
    "extra": "float",
    "mta_tax": "float",
    "tip_amount": "float",
    "tolls_amount": "float",
    "ehail_fee": "float",
    "improvement_surcharge": "float",
    "total_amount": "float",
    "payment_type": "Int64",
    "trip_type": "Int64",
    "congestion_surcharge": "float"
}
df = pd.read_csv(
    'green_tripdata_2019-10.csv',
    dtype=dtype_mapping,
    parse_dates=["lpep_pickup_datetime", "lpep_dropoff_datetime"]  # Parse datetime columns
)

df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,1569889562000000000,1569890398000000000,N,1,112,196,1,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2,1,0.0
1,1,1569889091000000000,1569889358000000000,N,1,43,263,1,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2,1,0.0
2,1,1569888571000000000,1569889487000000000,N,1,255,228,2,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2,1,0.0
3,1,1569890260000000000,1569890509000000000,N,1,181,181,1,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2,1,0.0
4,2,1569888493000000000,1569889076000000000,N,1,97,188,1,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,<NA>,1572564600000000000,1572566400000000000,NaN,<NA>,65,102,<NA>,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,<NA>,<NA>,NaN
476382,<NA>,1572562980000000000,1572564240000000000,NaN,<NA>,129,136,<NA>,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,<NA>,<NA>,NaN
476383,<NA>,1572562920000000000,1572564180000000000,NaN,<NA>,61,222,<NA>,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,<NA>,<NA>,NaN
476384,<NA>,1572565320000000000,1572566160000000000,NaN,<NA>,76,39,<NA>,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,<NA>,<NA>,NaN
476385,<NA>,1572564180000000000,1572566160000000000,NaN,<NA>,56,215,<NA>,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,<NA>,<NA>,NaN

In [9]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)
df2 = pd.read_csv('taxi_zone_lookup.csv', nrows=100)

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [13]:
print(pd.io.sql.get_schema(df, name='green_tripdata', con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [14]:
print(pd.io.sql.get_schema(df2, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [15]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [38]:
df_iter2 = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000)

In [16]:
df = next(df_iter)

In [39]:
df2 = next(df_iter2)

In [20]:
len(df)

100000

In [40]:
len(df2)

265

In [18]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [21]:
df.head(n=0).to_sql(name='green_tripdata', con=engine, if_exists='replace')

100000

In [41]:
df2.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [22]:
%time df.to_sql(name='green_tripdata', con=engine, if_exists='append')

CPU times: user 9.24 s, sys: 203 ms, total: 9.44 s
Wall time: 15.7 s

1000

In [ ]:
%time df2.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

In [23]:
from time import time

In [24]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_tripdata', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 15.507 second
inserted another chunk, took 15.528 second

/var/folders/f5/r6q8pxxj51xbj60lf_90x9l80000gn/T/ipykernel_74333/4105000820.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 15.529 second
inserted another chunk, took 10.025 second

StopIteration: